body {
    position: relative;
    margin: 0;
    background-color: #FFFFFF;
    color: $main_color;
    font-family: $main_font, $fallback_fonts, sans-serif;
    @include fluid-text($min_device_width, $max_device_width, $text_font_size_min, $text_font_size_max, $text_line_height_min, $text_line_height_max);
    letter-spacing: 0.03em;
    font-weight: 300;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection {
    color: #FFFFFF;
    background-color: $main_color;
}


// headings
h1, h2, h3 {
    margin: 0;
    text-transform: uppercase;
}

.h1 {
    @include fluid-text($min_device_width, $max_device_width, $h1_font_size_min, $h1_font_size_max, $h1_line_height_min, $h1_line_height_max);
    font-weight: 300;

    @include max-width($desktop_medium) {
        font-weight: 100;
    }
}

.h2 {
    @include fluid-text($min_device_width, $max_device_width, $h2_font_size_min, $h2_font_size_max, $h2_line_height_min, $h2_line_height_max);
    font-weight: 300;

    @include max-width($desktop_medium) {
        font-weight: 100;
    }
}

.h3 {
    font-size: 23px;
    line-height: 33px;
    font-weight: 500;
}

.subheading {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: rgba($main_color, 0.8);

    @include max-width($desktop_medium) {
        font-size: 16px;
        line-height: 28px;
    }
}

.emphasis_text {
    font-size: 30px;
    line-height: 39px;
    font-weight: 200;

    @include max-width($phone) {
        font-size: 20px;
        line-height: 30px;
    }
}


// style reset
input, textarea, button, select, option {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    border: none;
}

p {
    margin: 0;
}

a {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}

b, strong {
    font-weight: bolder;
}

.semibold {
    font-weight: 600;
}

img {
    border-style: none;
    user-select: none;
    -webkit-user-drag: none;
    display: block;
    max-width: 100%;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
    resize: none;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
  
[type="checkbox"],
[type="radio"] {
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}


// basic scroll
*::-webkit-scrollbar {
    -webkit-appearance: none;
    overflow: scroll;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $main_color;
    min-width: 10px;
    min-height: 10px;
}

*::-webkit-scrollbar-thumb:horizontal {
    border-radius: 0 5px 5px 0;
}

*::-webkit-scrollbar-thumb:vertical {
    border-radius: 0 0 5px 5px;
}

*::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba($main_color, 0.95);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba($main_color, 0.90);
}



// .page_wrap {
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
//     width: 100%;
// }

// .page_content {
//     flex: 1;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     position: relative;
// }



.wrapper {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

section {
    position: relative;
}

[data-theme="gray"] {
    background-color: #F5F5F5;
}
