$main_font: 'Manrope';
$fallback_fonts: 'Arial', 'Helvetica CY', 'Nimbus Sans L';

// ui colors
$main_color: #161C23;

// buttons
$button_font_size: 20px;
$button_line_height: 28px;
$button_color: rgba(#054C63, 0.9);

// devices
$desktop: 1920px;
$desktop_medium: 1440px;
$tablet_wide: 1024px;
$tablet: 768px;
$phone: 500px;
$phone_small: 375px;
$phone_tiny: 320px;
