.footer {
    background-color: $main_color;
    color: #FFFFFF;
    padding: 65px 230px 50px 120px;
    display: flex;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    ::selection {
        color: $main_color;
        background-color: #FFFFFF;
    }

    .wrapper > .footer_copyright {
        margin-top: 110px;
        display: none;
    }

    &_block {
        display: flex;
        justify-content: space-between;

        &.column {
            flex-direction: column;
        }
    }

    &_block.menu {
        flex-wrap: wrap;
        width: 860px;
        max-width: 60%;
    }

    &_block.menu .footer_dropdown {
        width: calc(100% / 3);
    }

    &_logo {
        width: 200px;
    }

    &_logo a {
        display: block;
    }

    &_logo span {
        display: block;
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.02em;
        margin-top: 12px;
    }

    &_phone {
        display: block;
        font-size: 44px;
    }

    &_socials {
        display: flex;
        margin-top: 40px;
    }

    &_socials__icon svg {
        width: 45px;
        height: 45px;
    }

    &_socials__icon:not(:last-of-type) {
        margin-right: 15px;
    }

    &_copyright {
        font-size: 14px;
        line-height: 26px;
        opacity: 0.4;
    }

    &_dropdown {
        text-transform: lowercase;
        margin-bottom: 80px;
    }

    &_dropdown.pale {
        opacity: 0.4;
    }

    &_dropdown__header {
        font-size: 22px;
        line-height: 24px;
        letter-spacing: -0.01em;
        margin-bottom: 40px;
    }

    &_dropdown__header p {
        position: relative;
        display: inline-block;
    }

    &_dropdown__menu {
        display: flex;
        flex-direction: column;
    }

    &_dropdown__item {
        font-size: 18px;
        line-height: 25px;
        opacity: 0.7;
        margin-bottom: 25px;
    }

    &_dropdown__item.has_submenu {
        
        span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            padding-right: 18px;
        }

        span:before {
            content: '';
            position: absolute;
            top: 8px;
            right: 0;
            border: solid #FFFFFF;
            border-width: 0 2px 2px 0;
            padding: 3px;
            transform: rotate(45deg);
        }
    }

    @include max-width($desktop_medium) {
        padding: 90px 90px 60px;
    }

    @include max-width($tablet_wide) {

        .wrapper {
            flex-direction: column;;
        }

        .wrapper > .footer_copyright {
            display: block;
        }

        &_phone {
            font-size: 32px;
            line-height: 44px;
        }

        &_socials {
            justify-content: flex-end;
            margin-top: 10px;
        }

        &_socials__icon svg {
            width: 36px;
            height: 36px;
        }

        &_block.info {
            flex-direction: row;
            margin-bottom: 100px;
        }

        &_block.info .footer_copyright {
            display: none;
        }

        &_block.menu {
            max-width: 100%;
        }
    }
    
    @include max-width($tablet) {
        padding: 90px 30px 40px;
    }

    @include max-width(600px) {
        padding: 40px 25px 30px;

        .wrapper > .footer_copyright {
            text-align: center;
        }

        &_block.info {
            flex-direction: column;
            margin-bottom: 60px;
        }

        &_block.menu {
            flex-direction: column;
        }
        
        &_dropdown {
            margin-bottom: 40px;
        }

        &_dropdown.pale {
            opacity: 1;
        }

        &_dropdown__header {
            cursor: pointer;
            margin-bottom: 0;
        }

        &_dropdown__header p {
            padding-right: 18px;

            &:before {
                content: '';
                position: absolute;
                top: 8px;
                right: 0;
                border: solid #FFFFFF;
                border-width: 0 2px 2px 0;
                padding: 3px;
                transform: rotate(45deg);
            }
        }

        &_dropdown__menu {
            display: none;
        }

        &_logo {
            margin-bottom: 150px;
        }

        &_socials {
            justify-content: flex-start;
            margin-top: 30px;
        }

        &_socials__icon svg {
            width: 45px;
            height: 45px;
            opacity: 0.5;
        }
    } 

}
