.page_navigator {
    user-select: none;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
    width: 100vh;
    height: 60px;
    max-width: calc(100vh - 70px - 14vh);
    position: fixed;
    top: 6.5vh;
    left: 60px;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: top left;
    z-index: 99;

    .page_name {
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;
    }

    .line {
        flex-shrink: 0;
        width: 2px;
        height: 100%;
        background-color: $main_color;
    }

    .line:last-of-type {
        margin-left: 7px;
    }

    .long_line {
        height: 1px;
        width: 100%;
        min-width: 50px;
        background-color: $main_color;
        margin: 14px 5% 0;
    }

    .logo {
        flex-shrink: 0;
        height: 55%;
        margin-right: 6%;
    }

    @include max-width($desktop_medium) {
        max-width: calc(100vh - 70px - 4vh);
        height: 52px;
        left: 45px;
    }

    @include max-width(900px) {
        display: none;
    }
}
